---

import DefaultLayout from '../../layouts/DefaultLayout.astro'
import Anchor from '@components/Anchor.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import ButtonMore from '../../components/ButtonMore.astro'
import ButtonBook from '../../components/ButtonBook.astro'
import { Icon } from 'astro-icon'
import Sig from '../../components/Sig.astro'
import { Image } from "astro:assets"
import img from '../../assets/img/team-hannah-wilson-sm.jpg'
//const { post } = Astro.props
---

<DefaultLayout title="Hannah Wilson">
  <div class="container">
    <div class="mt-12">
      <!--Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/our-team" label="Team" />
        <BreadcrumbsItem currentPage={true} label={post.title} />
      </Breadcrumbs-->
    </div>
  </div>
  <section class="hero my-24">
    <div class="container">
      <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
        <div class="flex flex-col items-center gap-8 md:items-start">
          <h1 class="text-center text-6xl md:text-left lg:text-8xl">
            Hannah Wilson
          </h1>
          <p class="text-3xl">
            Owner, Director, &amp; Accredited Dietitian
          </p>
          <p class="text-2xl italic">
            My mission is to make sense of your nutrition.
          </p>
          <div class="flex flex-col gap-3 min-[500px]:flex-row text-xl">
            <ButtonMore text="Learn More"/>
            <ButtonBook/>
          </div>
        </div>
        <Image class="hidden rounded-lg lg:block" src={img} alt="" height="682" width="1024" style="height: 100%; width: 100%; object-fit: cover;" />
        <!-- img class="hidden rounded-lg lg:block" src={'/src/assets/img/team-' + post.name.replaceAll(' ', '-').toLowerCase() + '.jpg'} alt="" decoding="async" /-->
      </div>
    </div>
  </section>
  
  <Anchor />
  <br>
  
  <section class="my-12">
    <div class="container">
        <p class="text-2xl max-w-6xl">
            Hi, I’m Hannah, an Accredited Practising Dietitian and Owner/Director of Nutrition Solutions Victoria. 
            <br><br>
            I’m so glad you’re here. My mission is to help you make sense of nutrition. I get it, with some much information at your fingertips, knowing where to start improving your nutrition can be overwhelming and confusing. I help you understand and implement the right approach for you, your body and your goals by taking into account your medical history, lifestyle factors, eating patterns, food preferences, any previous nutrition interventions, and your capacity.
            <br><br>
            I have worked across nutrition settings including hospital, private and industry and have specialist skills in a range of clinical areas including bariatric surgery, non-surgical weight management, gastrointestinal conditions (IBS, IBD, coeliac disease, food intolerances and allergies), chronic disease management, and women’s health.
            <br><br>
            With a background in Psychology, my approach is focused on lasting health behaviour change. I know that creating the change you want in your eating is more than just absorbing information. I’m passionate about helping my clients identify and overcome barriers to change; and supporting plans to maintain change. My space is unbiased and without judgement; allowing you to find a safe and comfortable environment in which to let your story unfold. With any luck, we might even have a laugh.
            <br><br>
            Outside of work I enjoy spending time with my two young toddlers, and when time allows, getting out for a good meal and a wine with family and friends. 
            <br><br>
            <Sig />
        </p>
    </div>
  </section>
  <!-- <section class="my-12">
    <div class="container">
      <h1 class="text-4xl"><Icon pack="mdi" name="think-outline" class="w-12 h-12 inline-block -mt-2 mr-1.5 text-[#d494ff]"/>Philosophy</h1><br />
      <p class="text-2xl max-w-6xl">Hi, I’m Hannah, an Accredited Practising Dietitian and owner of Nutrition Solutions Victoria. </p>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <h1 class="text-4xl"><Icon pack="icon-park-outline" name="personal-collection" class="w-10 h-10 inline-block -mt-2 mr-1.5 text-[#d494ff]"/>Personally</h1><br />
      <p class="text-2xl max-w-6xl">personal</p>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <h1 class="text-4xl"><Icon pack="icon-park-outline" name="star" class="w-10 h-10 inline-block -mt-2 mr-1.5 text-[#d494ff]"/>Experience</h1><br />
      <p class="text-2xl max-w-6xl">experience</p>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <h1 class="text-4xl"><Icon pack="icon-park-outline" name="crown-three" class="w-10 h-10 inline-block -mt-2 mr-1.5 text-[#d494ff]"/>Qualifications</h1><br />
      <p class="text-2xl max-w-6xl">qualifications</p>
    </div>
  </section> -->
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
