---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Icon } from 'astro-icon'
import { Image } from "astro:assets"
import img from '../assets/img/ns-flex-pair-opti.jpg'
import Sig from '../components/Sig.astro';
---

<DefaultLayout id="" title="Weight Loss">
  <section class="hero my-24">
    <div class="container">
      <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
        <div class="flex flex-col items-center gap-8 md:items-start">
          <h1 class="text-center text-6xl md:text-left lg:text-8xl">Weight Loss</h1>
          <p class="text-2xl">
            Do you feel trapped in a cycle of yo-yo dieting or struggling to budge your weight more than a few
            kilograms? Our holistic approach can help you.
          </p>
          <div class="flex flex-col gap-3 min-[500px]:flex-row">
            <a class="button has-icon" href="#more">
              <Icon pack="icon-park-outline" name="arrow-down" />
              Learn More
            </a>
            <a class="button has-icon color-secondary" href="/bookings">
              <Icon pack="ion" name="time" />
              Book Now
            </a>
          </div>
        </div>
        <Image class="hidden rounded-lg lg:block" src={img} alt="" width="734" height="454" style="height: 100%; width: 100%; object-fit: cover;" />
      </div>
    </div>
  </section>

  <section class="my-12">
    <div class="space-content container text-2xl ">
      <h1>
        <!--Icon pack="icon-park-outline" name="abdominal" class="w-10 h-10 inline-block -mt-2 mr-2 text-[#d494ff]"/-->
        With Nutrition Solutions
      </h1>

      <p clsass="max-w-6xl">
        Do you feel trapped in a cycle of yo-yo dieting or struggling to budge your weight more than a few kilograms? We
        have seen many people experiencing this, and use a holistic approach to identify why you may be struggling to
        lose weight. We recognise that a one size fits all approach is not appropriate when it comes to
        weight-management.</p>
        <br><br>
        We can help you to: 
        <ul class="pl-12 list-disc list-inside text-2xl max-w-6xl">
          <li>Stop the yo-yo dieting cycle</li>
          <li>Manage your snacking</li>
          <li>Find the style of eating that best suits you</li>
          <li>Find foods that keep your appetite well controlled</li>
          <li>Improve your energy levels</li>
        </ul>
        <br><br>

        Our team are committed to helping our clients achieve a body weight they feel comfortable with, improving their
        relationship with food and accomplishing personalised goals. We also work closely with specialist Exercise
        Physiologists and Eating Behavioural Psychologists and can facilitate referrals if required.
        <br><br>
        If you need help with any of the above, or are unsure about how to begin working towards a healthy, nourishing diet for you, get
        in touch with us.
      </p>

      

    </div>
  </section>
</DefaultLayout>
