---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Icon } from 'astro-icon'
import Sig from '../components/Sig.astro';
import { Image } from 'astro:assets'
import img from '../assets/img/stock-beach.jpg'
---

<DefaultLayout id="" title="">
  <section class="hero my-24">
    <div class="container">
      <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
        <div class="flex flex-col items-center gap-8 md:items-start">
          <h1 class="text-center text-6xl md:text-left lg:text-8xl">Weight Loss Surgery</h1>
          <p class="text-2xl">
            We're experts in weight loss surgery support. With ~80 new weight loss surgery clients each week our clinic
            is committed to helping you achieve reach your weight goals.
          </p>
          <div class="flex flex-col gap-3 min-[500px]:flex-row">
            <a class="button has-icon" href="#more">
              <Icon pack="icon-park-outline" name="arrow-down" />
              Learn More
            </a>
            <a class="button has-icon color-secondary" href="/bookings">
              <Icon pack="ion" name="time" />
              Book Now
            </a>
          </div>
        </div>
        <Image class="hidden rounded-lg lg:block" src={img} alt="" width="734" height="454" style="height: 100%; width: 100%; object-fit: cover;" />
      </div>
    </div>
  </section>

  <section class="my-12">
    <div class="text-2xl space-content container">
      <h1>With Nutrition Solutions</h1>

      <p class="max-w-6xl">
        We are experts in weight loss surgery support, with approximately 80 weight loss surgery clients visiting our clinic each week. We are committed to helping you achieve reach your weight goals, improve your relationship with food and ensure you are feeling healthy and well-nourished after surgery. Our dietitians have experience supporting people who have had a gastric sleeve, gastric bypass, gastric band or gastric balloon.
        <br><br>
        <strong>We offer a premium service as we:</strong>
        <br>
        <ul class="pl-12 list-disc list-inside text-2xl max-w-6xl">
          <li>Are specialists in weight loss surgery</li>
          <li>Know when you need nutrition input</li>
          <li>Can help you overcome weight-plateaus or stalls</li>
          <li>Can connect you to a community of people who have had weight-loss surgery both online and through support groups</li>
          <li>Offer on-going education outside of a clinic setting, including regular weight loss surgery workshops</li>
        </ul>
        <br><br>
        <strong>Come and see us if you are:</strong>
        <br>
        <ul class="pl-12 list-disc list-inside text-2xl max-w-6xl">
          <li>About to have surgery and you are not linked in with a dietitian</li>
          <li>Not achieving the results you were hoping for with surgery</li>
          <li>Re-gaining weight and need a fresh start</li>
          <li>Not satisfied with the support you are currently getting</li>
          <li>Having surgery interstate or overseas and need follow-up close to home</li>
          <li>No longer in contact with your original surgical support team</li>
        </ul>
        <br><br>
        Please <a href="/contact/">contact us</a> to learn more about how we can help you.
      </p>

      <Sig />

    </div>
  </section>
</DefaultLayout>
