---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'
---

<header>
  <SkipLinks />
  <Navigation>
    <!--li class="menu-item">
      <a href="/">Home</a>
    </li-->
    <li class="menu-item">
      <a href="/about-us/">About</a>
    </li>
    <li class="menu-item">
      <a href="/services/">Services</a>
    </li>
    <!--li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Services</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/weight-loss/">Weight Loss</a>
        </li>
        <li class="submenu-item">
          <a href="/weight-loss-surgery">Weight Loss Surgery</a>
        </li>
        <li class="submenu-item">
          <a href="/food-intolerance-and-ibs/">Food Intolerances & IBS</a>
        </li>
        <li class="submenu-item">
          <a href="/diabetes-support">Diabetes Support</a>
        </li>
        <li class="submenu-item">
          <a href="/services/">> See All Services</a>
        </li>
      </ul>
    </li-->
    <li class="menu-item">
      <a href="/our-team/">Team</a>
    </li>
    <li class="menu-item">
      <a href="/bookings" title="external link" rel="external noopener noreferrer">Bookings</a>
    </li>
    <li class="menu-item">
      <a href="/contact" title="external link" rel="external noopener noreferrer">Contact</a>
    </li>
    <li class="menu-item">
      <a href="tel:+61394174087" title="external link" rel="external noopener noreferrer" class="font-bold !text-black dark:!text-white !underline underline-offset-8">(03) 9417 4087</a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [astro-icon] {
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        [astro-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
