---
import { Image } from "astro:assets"
import sig from '../assets/img/hannah-wilson-sig.png'
---
<br>
<Image class="" src={sig} width="400" height="107" alt="" style="" />
<h3 class="text-2xl !mt-2 uppercase nsv-1">Director &middot; Accredited Practising Dietititian</h3>
